
*
{
  outline: 0;
  outline: 3px solid orange;
}

body 
{
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'Slabo 5em', serif;
  align-content: center;
  text-align: center;
  margin: 1em;

  /* overflow: hidden; */
}

.notepad 
{
  min-height: 480px;
  min-width: 100px;
  text-align: left;
 
  word-wrap: break-word;

}


#downloadButton
{
  margin-bottom: 2em;
  min-width: 2em;
}

#downloadButton:hover 
{

  box-shadow: 0px 0px 5px black;
}