
/* ------------fonts------------ */

/* 
font-family: 'Slabo 27px', serif;
font-family: 'Poppins', sans-serif; 
*/

/* ----------colors------------- */

/* 
DBC2CF - THISTLE
9FA2B2 - CADET GREY
3C7A89 - TEAL BLUE
2E4756 - DARK SLATE GRAY
16262E - DARK GUNMETAL 
*/

/* ----------------------------- */

body 
{
    /* 352D39 */
  background: #16262E; 
  font-family: Helvetica, Arial, sans-serif;
  font-family: 'Slabo 5em', serif;
  align-content: center;
  text-align: center;
  margin-top: 3m;
  margin-bottom: 3em;
}

.notepad 
{
  background: #9FA2B2;
  border: 1px solid #9FA2B2;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #DBC2CF;
  min-height: 600px;
  max-width: 800px;
  
  padding: 20px;
  /* width: 600px; */
  text-align: left;
  transition: transform .1s;

  margin: auto;
  margin-top: 3em;
  /* margin: 5em 5em; */
}

.buttonsElements
{
  width: 10em;
  height: 5em;
  background-color: #9FA2B2;
  border: 1px solid #9FA2B2;
  border-radius: 5px;
  padding: 20px;
  margin: 2em;

  transition: transform .1s;
}

@page 
{
  size: auto;
  margin: 0mm;
}

.buttonsElements:hover 
{
  transform: scale(1.1);
  box-shadow: 0px 5px 20px #DBC2CF;
  background-color: #DBC2CF;
}

.notepad:hover 
{
  transform: scale(1.05);
  box-shadow: 0px 5px 20px #DBC2CF;
  background-color: #DBC2CF;
}

